{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %}
<section id="content">
    <div class="container-fluid row mt-3">
        <div class="col-2 mr-3">
                <ul class="nav nav-pills flex-column">
                    <a class="nav-link font-weight-bold" data-toggle="collapse" data-target=".d3" href="#" >Osoby</a>       
                    <div style="padding-left: 20px">
                        <a class="d3 nav-link collapse" href="/operator" >Lista</a>
                        <a class="d3 nav-link collapse" href="/operator/add" >Dodaj</a>
                    </div>
                    <a class="nav-link font-weight-bold" data-toggle="collapse" data-target=".d1" href="#" >Plany roczne</a>       
                    <div style="padding-left: 20px">
                        <a class="d1 nav-link" href="/data/yearPlan" >Lista</a>
                        <a class="d1 nav-link active" href="/data/yearPlan/add" >Stwórz nowy plan</a>
                    </div>
                    <a class="nav-link font-weight-bold" href="/data/parcel" >Działki</a>
                    <a class="nav-link font-weight-bold" data-toggle="collapse" data-target=".d2" href="#" >Pola</a>
                    <div style="padding-left: 20px">
                        <a class="d2 nav-link collapse" href="/data/field" >Lista</a>
                        <a class="d2 nav-link collapse" href="/data/field/yearPlan" >Stwórz nowe pole</a>
                    </div>
                </ul>
            </div>
        <div class="col-9">
            <div class="m-5 container col-7">
                {{ form_start(newYearPlanForm) }}
                {{ form_errors(newYearPlanForm.startYear )}}
                <div class="form-group">
                    <label for="startYear">Rok rozpoczęcia</label>
                    {{ form_widget(newYearPlanForm.startYear, {'attr': 
                    {'class': 'form-control',
                    'placeholder': 'Rok',
                    'id': 'inputStartYear', 
                    'aria-describedby': 'startYear',
                    'onblur':   'sprawdzPole("new_year_plan_form_startYear",startYear_reg)'}
                    })}}
                    <small id="startYear" class="form-text text-muted">Podaj rok rozpoczęcia sezony.</small>
                </div>

                <button type="submit" class="btn btn-primary">Dodaj</button>

                {{ form_end(newYearPlanForm) }}
            </div>


        </div>
    </div>
</section>
<script src="/validate.js"></script>
{% endblock %}