{% extends 'base.html.twig' %}

{% block title %} Lista działek {% endblock %}

{% block body %}
    <section id="content">
        <div class="container-fluid mt-3">
            <div class="row">
                <!--- Left menu -->
                <div class="col-md-2 mb-4">  
                    <ul class="nav nav-pills flex-column">
                        <li><a class="nav-link font-weight-bold" data-toggle="collapse" data-target=".d1" href="#" >Plany roczne</a></li>       
                        <li><ul style="padding-left: 20px; list-style: none">
                                <li><a class="d1 nav-link collapse" href="/yearPlan" >Lista</a></li>
                                <li><a class="d1 nav-link collapse" href="/yearPlan/add" >Stwórz nowy plan</a></li>
                            </ul></li>
                        <li><a class="nav-link font-weight-bold" data-toggle="collapse" data-target=".d3" href="#" >Osoby</a></li>       
                        <li><ul style="padding-left: 20px; list-style: none">
                                <li><a class="d3 nav-link collapse" href="/operator" >Lista</a></li>
                                <li><a class="d3 nav-link collapse" href="/operator/add" >Dodaj</a></li>
                            </ul></li>
                        <li><a class="nav-link font-weight-bold" data-toggle="collapse" data-target=".d2" href="#" >Pola</a></li>
                        <li><ul style="padding-left: 20px; list-style: none">
                                <li><a class="d2 nav-link collapse" href="/field" >Lista</a></li>
                                <li><a class="d2 nav-link collapse" href="/field/add" >Stwórz nowe pole</a></li>
                            </ul></li>
                        <li><a class="nav-link font-weight-bold active" href="/parcel" >Działki</a></li>
                        <li><a class="nav-link font-weight-bold" href="/selectPlants" >Wybierz rośliny</a></li>
                    </ul>
                </div>

                <!--- Content -->
                <div class="col-md-10">
                    <div class="container-md mx-4">
                        <h2 class="text-center">Działki w sezonie {{ start }}/{{ start+1 }} </h2>   
                        <div class="table-responsive">                     
                            <table id="parcels" class="text-center table w-75 mx-auto ">
                                <thead>
                                    <tr>
                                        <th scope ="col">Pole</th>
                                        <th scope ="col">#</th>
                                        <th scope ="col">Numer działki</th>
                                        <th scope ="col">Powierzchnia[ha]</th>
                                        <th scope ="col">Paliwo</th>
                                        <th scope ="col">Dopłaty</th>
                                        <th scope ="col">Uprawa</th>
                                    </tr>
                                    <tr>
                                        <td class="align-middle"></td>
                                        <td class="align-middle"></td>
                                        <td class="align-middle"></td>
                                        <td class="align-middle"></td>
                                        <td class="align-middle">
                                            <select class="form-control" id="fuelSelect">
                                                <option selected="selected" value="all">Wszystkie</option>
                                                <option value="Tak">Tak</option>
                                                <option value="Nie">Nie</option>
                                            </select>
                                        </td>
                                        <td class="align-middle">
                                            <select class="form-control" id="arimrOperatorSelect">
                                                <option selected="selected" value="all">Wszyscy</option>
                                                <option value="Brak">Brak</option>
                                                {% for operator in yearPlan.getOperators %}
                                                    <option value="{{ operator.getFirstName}}">{{ operator.getFirstName}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td class="align-middle">
                                            <select class="form-control" id="plantNameSelect">
                                                <option selected="selected" value="all">Wszystkie</option>
                                                <option value="Brak">Brak</option>
                                                {% for plant in yearPlan.getPlants %} 
                                                    <option value="{{ plant.getName }}">{{ plant.getName }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody data style="display: none;">


                                    {% set licznik = 1 %}
                                    {% for field in yearPlan.getFields %}
                                        <!-- Count amount of parcels -->
                                        {% set counter = 0 %}
                                        <!-- Display each parcel
                                        {% for item in field.getParcels %}
                                            <!-- Fuel status -->
                                            {% if item.fuelApplication == 1 %}
                                                {% set fuel = "Tak" %}
                                            {% else %}
                                                {% set fuel = "Nie" %}
                                            {% endif %}

                                            <!-- Arimr status -->
                                            {% if item.arimrOperator == NULL %}
                                                {% set operator = "Brak" %}
                                            {% else %}
                                                {% set operator = item.arimrOperator.firstname  %}
                                            {% endif %}


                                            <tr>


                                                <td name="fieldName" class="no-hover align-middle" >{{ item.Field.getName() }}</td>
                                                <td hover name="no" class="align-middle">{{ licznik }}</td>

                                                <td hover class="align-middle">{{ item.parcelNumber }}</td>
                                                <td hover name ="area" class="align-middle">{{ item.getCultivatedAreaHa }}</td>
                                                <td hover name ="fuel" class="align-middle">{{ fuel }}</td>
                                                <td hover name ="arimrOperator" class="align-middle">{{ operator }}</td>

                                                <td name ="plantName" class="no-hover align-middle" >{% if item.Field.plant %}{{ item.Field.plant.name }}{% else %} brak {% endif %}</td>

                                            </tr>
                                            {% set licznik = licznik+1 %}
                                            {% set counter = counter+1 %}
                                        {% endfor %}
                                        {% set counter = 0 %}
                                    {% endfor %}



                                </tbody>
                            </table>
                        </div>  
                    </div>
                </div>
                <!--- End content -->

            </div>
        </div>                   
    </section>
    <script src="tableFilter.js"/>
{% endblock %}