{% extends 'base.html.twig' %}

{% block title %} Plany roczne {% endblock %}

{% block body %}
    <section id="content">
        <div class="container-fluid mt-3">
            <div class="row">

                <!--- Left menu -->
                <div class="col-md-2 mb-4">  
                    <ul class="nav nav-pills flex-column">
                        <a class="nav-link font-weight-bold" data-toggle="collapse" data-target=".d1" href="#" >Plany roczne</a>       
                        <div style="padding-left: 20px">
                            <a class="d1 nav-link active" href="/yearPlan" >Lista</a>
                            <a class="d1 nav-link" href="/yearPlan/add" >Stwórz nowy plan</a>
                        </div>
                        <a class="nav-link font-weight-bold" data-toggle="collapse" data-target=".d3" href="#" >Osoby</a>       
                        <div style="padding-left: 20px">
                            <a class="d3 nav-link collapse" href="/operator" >Lista</a>
                            <a class="d3 nav-link collapse" href="/operator/add" >Dodaj</a>
                        </div>
                        <a class="nav-link font-weight-bold" data-toggle="collapse" data-target=".d2" href="#" >Pola</a>
                        <div style="padding-left: 20px">
                            <a class="d2 nav-link collapse" href="/field" >Lista</a>
                            <a class="d2 nav-link collapse" href="/field/add" >Stwórz nowe pole</a>
                        </div>
                        <a class="nav-link font-weight-bold" href="/parcel" >Działki</a>
                    </ul>
                </div>

                <!--- Content -->
                <div class="col-md-10">
                    <div class="container-md mx-4">
                        <h2 class="text-center">Plany roczne</h2>            
                        <div class="table-responsive"> 
                            <table id="axs" class="text-center table w-75 mx-auto table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope ="col">#</th>
                                        <th scope ="col">Rok rozpoczęcia</th>
                                        <th scope ="col">Rok zakończenia</th>
                                        <th scope ="col">Zakończony</th>
                                        <th scope ="col"></th> 
                                    </tr>
                                </thead>
                                <tbody >
                                    {% set licznik = 1 %}
                                    {% for item in yearPlan %}
                                        {% if item.isClosed == true %}
                                            {% set status = "TAK" %}
                                        {% else %}
                                            {% set status = "NIE" %}
                                        {% endif %}

                                        <tr>
                                            <th class="align-middle" scope="row">{{ licznik }}</th>
                                            <td class="align-middle">{{ item.startYear }}</td>
                                            <td class="align-middle">{{ item.endYear }}</td>
                                            <td class="align-middle">{{ status }}</td>

                                            <td class="align-middle">
                                                <form method="POST" action="/yearPlan/status">
                                                    {% if status == "TAK" %}
                                                        <input type="hidden" name='status' value="closed"/>
                                                        <input type="hidden" name='yearPlan' value={{ item.id }}/>
                                                        <input type="submit" class="btn btn-secondary" value="Kontynuuj"/>
                                                    {% else %}
                                                        <input type="hidden" name='status' value="open"/>
                                                        <input type="hidden" name='yearPlan' value={{ item.id }}/>
                                                        <input type="submit" class="btn btn-secondary" value="Zakończ"/>
                                                    {% endif %}

                                                </form>

                                            </td>
                                        </tr>
                                        {% set licznik = licznik+1 %}
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--- End content -->

            </div>
        </div>                   
    </section>
{% endblock %}