{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %}
<section id="content">
    <div class="container-fluid row mt-3">
        <div class="col-2 mr-3">
            <ul class="nav nav-pills flex-column">
                <a class="nav-link" href="/data/yearPlan" >Plany roczne</a>
                <a class="nav-link" href="/data/yearPlan/add" >nowy Plan roczny</a>
                <a class="nav-link" href="/data/parcel" >Działki</a>
                <a class="nav-link" href="/data/field" >Pola</a>
                <a class="nav-link active" href="/data/field/add" >Nowe Pole</a>
            </ul>
        </div>
        <div class="col-9">
            
            <h2 class="text-center">Wybierz sezon do którego chcesz dodać pole</h2>                  
            <table id="axs" class="text-center table w-75 mx-auto table-striped table-hover">
                <thead>
                    <tr>
                        <th scope ="col">#</th>
                        <th scope ="col">Rok rozpoczęcia</th>
                        <th scope ="col">Rok zakończenia</th>
                        <th scope ="col">Zamknięty</th>
                        <th scope ="col"></th> 
                    </tr>
                </thead>
                <tbody >
                    {% set licznik = 1 %}
                    {% for item in yearPlanCollection %}
                    <tr>
                        <th class="align-middle" scope="row">{{ licznik }}</th>
                        <td>{{ item.startYear }}</td>
                        <td>{{ item.endYear }}</td>
                        <td class="align-middle">{{ item.isClosed }}</td>

                        <td class="align-middle"><input type="submit" value="Wybierz" onClick="location.href='{{ path('addField', {'id': item.id}) }}'"/></td>
                    </tr>
                    {% set licznik = licznik+1 %}
                    {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
</section>
{% endblock %}