{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %}
    <section id="content">
        <div class="container-fluid row mt-3">
            <div class="container-fluid row mt-3">
                <div class="col-2 mr-3">
                    <ul class="nav nav-pills flex-column">
                        <a class="nav-link font-weight-bold" href="/data/parcel" >Planuj uprawy</a>
                        <a class="nav-link font-weight-bold" data-toggle="collapse" data-target=".d2" href="#" >Pola</a>
                        <div style="padding-left: 20px">
                            <a class="d2 nav-link collapse" href="/data/field" >Lista</a>
                            <a class="d2 nav-link collapse" href="/data/field/yearPlan" >Stwórz nowe pole</a>
                        </div>
                    </ul>
                </div>
                <div class="col-9">
                    {{ form_start(form) }}
                    <button type="submit" class="btn btn-primary">Zapisz</button>
                    <h2 class="text-center">Uprawy {{ yearPlan.startYear }}/{{ yearPlan.endYear }}  </h2>                  
                    <table id="axs" class="text-center table w-75 mx-auto table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope ="col">Pole</th>
                                <th scope ="col">Powierzchnia</th>
                                <th scope ="col">{{ yearPlan.startYear-2 }}/{{ yearPlan.startYear-1 }}</th>
                                <th scope ="col">{{ yearPlan.startYear-1 }}/{{ yearPlan.startYear }}</th>
                                <th scope ="col">{{ yearPlan.startYear }}/{{ yearPlan.startYear+1 }}</th>
                            </tr>
                        </thead>
                        <tbody >

                            {# iterate over each existing tag and render its only field: name #}
                            {% set index = 0 %}
                            {% for field in form.fields %}
                                <tr>
                                    <td> {{ field.vars.value.name }}</td>
                                    <td>{{ yearPlanAreas[index] }}</td>
                                    <td>{{ yearPlan2[index] }}</td>
                                    <td>{{ yearPlan1[index] }}</td>
                                    <td>{{ form_row(field.plant) }}</td>
                                </tr>
                                {% set index = index+1 %}
                            {% endfor %}
                            {{ form_end(form) }}

                        </tbody>
                    </table>

                </div>
            </div>
    </section>
{% endblock %}