{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %}
    <section id="content">
        <div class="container-fluid mt-3">
            <div class="row">

                <!--- Left menu -->
                <div class="col-md-2 mb-4">                
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/cropPlan" >Planuj uprawy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/summary" >Podsumowanie</a>
                        </li>
                    </ul>
                </div> 

                <!--- Content -->
                <div class="col-md-10">
                    <div class="container-md mx-auto">
                        {{ form_start(form) }}
                        <button type="submit" class="float-right btn btn-primary">Zapisz</button>
                        <h2 class="text-center">Uprawy {{ yearPlan.startYear }}/{{ yearPlan.endYear }}  </h2>   
                        <div class="table-responsive">
                            <table id="axs" class="text-center w-75 mx-auto table table-hover">
                                <thead>
                                    <tr>
                                        <th scope ="col">Pole</th>
                                        <th scope ="col">Powierzchnia [ha]</th>
                                        <th scope ="col">{{ yearPlan.startYear-2 }}/{{ yearPlan.startYear-1 }}</th>
                                        <th scope ="col">{{ yearPlan.startYear-1 }}/{{ yearPlan.startYear }}</th>
                                        <th scope ="col">{{ yearPlan.startYear }}/{{ yearPlan.startYear+1 }}</th>
                                        <th scope ="col">Odmiana</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    {# iterate over each existing tag and render its only field: name #}
                                    {% set index = 0 %}
                                    {% for field in form.fields %}
                                        <tr>
                                            <td class="align-middle"> {{ field.vars.value.name }}</td>
                                            <td class="align-middle">{{ yearPlanAreas[index] }}</td>
                                            <td class="align-middle">{{ yearPlan2[index] }}</td>
                                            <td class="align-middle">{{ yearPlan1[index] }}</td>
                                            <td class="align-middle">{{ form_widget(field.plant, {'attr': 
                                                {'class': 'custom-select my-1 mr-sm-2',
                                                }})}}</td>
                                            <td class="align-middle">{{ form_widget(field.plantVariety, {'attr': {'class': 'form-control'}}) }}</td>

                                        </tr>
                                        {% set index = index+1 %}
                                    {% endfor %}
                                    

                                </tbody>
                            </table>
                        </div>
                                    {{ form_end(form) }}
                    </div>
                </div>
                <!--- End content -->
            </div> 
        </div>                      
    </section>
{% endblock %}