{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %}
    <section id="content">
        <div class="container-fluid mt-3">
            <div class="row">

                <!--- Left menu -->
                <div class="col-md-2 mb-4">                
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/cropPlan" >Planuj uprawy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/summary" >Podsumowanie</a>
                        </li>
                    </ul>
                </div> 

                <!--- Content -->
                <div class="col-md-10">
                    <div class="container-md mx-4">
                        {#{% set op = yearPlan.getFields().get(0).getParcels().get(0).getArimrOperator() %}
                        {{ yearPlan.getTotalAreaByOperator(op) }}#}
                        <h2 class="text-center">Podsumowanie  </h2>  
                        <div class="d-flex flex-wrap">


                            {% for operator in yearPlan.operators %}

                                <table class="table w-auto table-hover mx-2">
                                    <thead>
                                        <tr>
                                            <th colspan="2" class="text-center">{{ operator.firstname ~ ' ' ~ operator.surname }}</th>
                                        </tr>
                                        <tr>
                                            <th scope="col">Roślina</th>
                                            <th scope="col">Powierzchnia</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for plant in operator.getCropedPlants()  %}
                                            {% set percentOfAll = (100/operator.getTotalArea*operator.getCropArea(plant))|round(1,'ceil') %}
                                            <tr>
                                                <td>{{ plant.getName()}}</td>
                                                <td>{{ operator.getCropArea(plant)~ 'ha ('~ percentOfAll~'%)' }}</td>
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <td>EFA</td>
                                            <td>{{ operator.getEfaPercent }} %</td>

                                        </tr>
                                        {% if operator.NotEstabilishedPlantArea() != 0 %}
                                            <tr>
                                                <td>Nie zaplanowano</td>
                                                <td> {{ operator.NotEstabilishedPlantArea() }} ha</td>
                                            <tr>
                                            {% endif %}

                                            <td>Razem</td>
                                            <td>{{ operator.getTotalArea }} ha</td>

                                        </tr>
                                        <tr>
                                            {% set percentOfAll = (100/operator.getTotalArea()*operator.getFuelArea())|round(1,'ceil') %}
                                            <td>Paliwo</td>
                                            <td>{{ operator.getFuelArea()~ 'ha ('~ percentOfAll~'%)' }}</td>
                                        </tr>

                                    </tbody>
                                </table>

                            {% endfor %}


                            <table class="table w-auto table-hover mx-2">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="text-center">Brak dopłat</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">Roślina</th>
                                        <th scope="col">Powierzchnia</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for plant in yearPlan.getPlantsWithoutOperator()  %}
                                        {% set percentOfAll = (100/yearPlan.getTotalAreaWithoutOperator()*yearPlan.getCropAreaWithoutOperator(plant))|round(1,'ceil') %}
                                        <tr>
                                            <td>{{ plant.getName() }}</td>
                                            <td>{{ yearPlan.getCropAreaWithoutOperator(plant)~ 'ha ('~ percentOfAll~'%)' }}</td>
                                        </tr>
                                    {% endfor %}
                                    {% if yearPlan.NotEstabilishedPlantAreaWithoutOperator() != 0 %}
                                        {% set percentOfAll = (100/yearPlan.getTotalAreaWithoutOperator()*yearPlan.NotEstabilishedPlantAreaWithoutOperator())|round(1,'ceil') %}
                                        <tr>
                                            <td>Nie zaplanowano</td>
                                            <td> {{ yearPlan.NotEstabilishedPlantAreaWithoutOperator() ~ 'ha ('~ percentOfAll~'%)' }}</td>
                                        <tr>
                                        {% endif %}
                                    <tr>
                                        <td>Razem</td>
                                        <td>{{ yearPlan.getTotalAreaWithoutOperator() }} ha</td>

                                    </tr>
                                    <tr>
                                        {% set percentOfAll = (100/yearPlan.getTotalAreaWithoutOperator()*yearPlan.getFuelAreaWithoutOperator())|round(1,'ceil') %}
                                        <td>Paliwo</td>
                                        <td>{{ yearPlan.getFuelAreaWithoutOperator()~ 'ha ('~ percentOfAll~'%)' }}</td>
                                    </tr>
                                </tbody>

                            </table>



                            <table class="table w-auto table-hover mx-2">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="text-center">Całe gospodarstwo</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">Roślina</th>
                                        <th scope="col">Powierzchnia</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for plant in yearPlan.getPlants()  %}
                                        {% set percentOfAll = (100/yearPlan.getTotalArea*yearPlan.getCropArea(plant))|round(1,'ceil') %}
                                        <tr>
                                            <td>{{ plant.getName() }}</td>
                                            <td>{{ yearPlan.getCropArea(plant) ~ 'ha ('~ percentOfAll~'%)' }}</td>
                                        </tr>
                                    {% endfor %}
                                    {% if yearPlan.NotEstabilishedPlantArea() != 0 %}
                                        {% set percentOfAll = (100/yearPlan.getTotalArea*yearPlan.NotEstabilishedPlantArea())|round(1,'ceil') %}
                                        <tr>
                                            <td>Nie zaplanowano</td>
                                            <td> {{ yearPlan.NotEstabilishedPlantArea() ~ 'ha ('~ percentOfAll~'%)' }}</td>
                                        <tr>
                                        {% endif %}
                                    <tr>
                                        <td>Razem</td>
                                        <td>{{ yearPlan.getTotalArea() }} ha</td>

                                    </tr>
                                    <tr>
                                        {% set percentOfAll = (100/yearPlan.getTotalArea()*yearPlan.getFuelArea())|round(1,'ceil') %}
                                        <td>Paliwo</td>
                                        <td>{{ yearPlan.getFuelArea()~ 'ha ('~ percentOfAll~'%)' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>





                    </div>
                </div>
                <!--- End content -->
            </div> 
        </div>                      
    </section>
{% endblock %}